.page-container {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: -5px -5px 0px 0px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #4b9ffa;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15x;
}

.form-toggle .active {
  color: white;
  background-color: #0150a3;
}

.form-toggle button:hover {
  background-color: #0150a3;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 5px;
  background-color: #dde9f5;
  font-weight: bold;
}

.form button {
  padding: 10px;
  background-color:#0150a3 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}

.form button:hover {
  background-color: #007bff;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
}

.click{
  color: #0056b3;
  text-decoration: underline;
}

.click:hover{
  color: red;
}

.sign-up{
  color: #0056b3;
}
